@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
    width: 100%;
    height: 100%;
    font-family: 'Public Sans', sans-serif;
    font-size: $font-md;
    color: $grayisBlue;
    font-weight: 300;
    overflow-x: hidden;

    &.noscroll{
        overflow: hidden;
    }
    @include breakpoint-up(large){
        font-size: $font-lg;
    }
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    &--pall{
        padding-top: 2.25rem;
        padding-bottom: 2.25rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;        
    }
    &--py{
        padding-top: 2.25rem;
        padding-bottom: 2.25rem;
    }
    &--px{
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
    &--pt{
        padding-top: 2.25rem;
    }
    &--pb{
        padding-bottom: 2.25rem;
    }
    &--pl{
        padding-left: 1.5rem;
    }
    &--pr{
        padding-right: 1.5rem;
    }
}
button,
.btn{
    cursor: pointer;
    border: 0;
    outline: 0;
    padding: 0.875rem 2.1875rem;
    background: linear-gradient(to right, $lineGreen, $brightCyen);
    color: $white;
    font-size: $font-sm;
    @include border-r(24px);
    transition: opacity 300ms ease-in-out;
    opacity: .75;
    &:hover{
        opacity: 1;
    }
    @include breakpoint-up(large){
        font-size: $font-md;
    }
}

.hide-for-mobile{
    @include breakpoint-down(medium){
        display: none;
    }   
}

.hide-for-desktop{
    @include breakpoint-up(large){
        display: none;
    }   
}