//colors

$darkBlue: hsl(233, 26%, 24%);
$lineGreen: hsl(136, 65%, 51%);
$brightCyen: hsl(192, 70%, 51%);
$grayisBlue: hsl(233, 8%, 62%);
$lightGrayisBlue: hsl(220, 16%, 96%);
$veryLightGray: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);

//font-sizes
$font-xlg: 3.25rem; //52px
$font-mlg: 2.75rem; //44px
$font-lg: 1.25rem; //18px
$font-md: 1rem; //16px
$font-sm: 0.875rem; //14px
